<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seiyaya.stock.mapper.StockMapper">
	<!-- 实体和数据库映射关系 -->
	<resultMap type="Stock" id="stock">
		<result property="stockCode" column="stock_code"></result>
        <result property="marketId" column="market_id"></result>
        <result property="nowPrice" column="now_price"></result>
        <result property="dayPercentage" column="day_percentage"></result>
        <result property="tradeDate" column="trade_date"></result>
        <result property="remark" column="remark"/>
        <result property="stockName" column="stock_name"/>
	</resultMap>
	
	<delete id="deleteStockInfo">
		delete from t_sim_stock
	</delete>
	
	<select id="getStockInfoNum" parameterType="String" resultType="Integer">
		select count(1) from t_sim_stock where trade_date = #{date}
	</select>
	
	<select id="queryStockList" resultMap="stock">
		select * from t_sim_stock
	</select>
	
	<insert id="insertStockInfoList" parameterType="java.util.List">
		<foreach collection="list" separator=";" item="cus">
			insert into t_sim_stock( 
			 market_id, 
			 stock_code, 
			 trade_date, 
			 stock_name, 
			 now_price, 
			 day_percentage, 
			 remark,
			 sec_type,
			 close_price,
			 open_price,
			 high_price,
			 low_price,
			 is_suspend
			) values (
			 #{cus.marketId},
			 #{cus.stockCode},
			 #{cus.tradeDate},
			 #{cus.stockName},
			 #{cus.nowPrice},
			 #{cus.dayPercentage},
			 #{cus.remark},
			 #{cus.stockType},
			 #{cus.yesterday},
			 #{cus.open},
			 #{cus.high},
			 #{cus.low},
			 #{cus.issuspend}
			 )
		</foreach>
	</insert>
</mapper>