<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seiyaya.stock.trade.mapper.AccountMapper">
	<!-- 实体和数据库映射关系 -->
	<resultMap type="Account" id="accountBean">
		<result property="accountId"  column="account_id"/>
        <result property="accountName"  column="account_name"/>
        <result property="accountType"  column="account_type"/>
        <result property="userId"  column="user_id"/>
        <result property="moneyId"  column="money_id"/>
        <result property="initBalance"  column="init_balance"/>
        <result property="currentBalance"  column="current_balance"/>
        <result property="freezedBalance"  column="freezed_balance"/>
        <result property="totalAssets"  column="total_assets"/>
        <result property="totalMarket"  column="total_market"/>
        <result property="createDate"  column="create_date"/>
        <result property="updateDate"  column="update_date"/>
        <result property="remark"  column="remark"/>
        <result property="state"  column="state"/>
        <result property="version"  column="version"/>
	</resultMap>
	
	<select id="queryAccount" parameterType="HashMap" resultMap="accountBean">
		select * from t_sim_account where account_id = #{account_id}
	</select>
	
	<update id="updateCurrentBalance" parameterType="HashMap">
		update t_sim_account set current_balance = current_balance + #{total_balance},version = #{new_version} 
		where account_id = #{account_id}
			and version = #{version}
	</update>
	
	<insert id="addAccount" parameterType="map" >
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="account_id">
	          SELECT LAST_INSERT_ID()
	      </selectKey>
		insert into t_sim_account(
			user_id,
			account_name,
			init_balance,
			total_assets,
			current_balance,
			create_date,
			update_date
		) values (#{user_id},#{account_name},#{init_balance},#{total_assets},#{current_balance},#{create_date},#{update_date})
	</insert>
	
	<insert id="addAccountAssets" parameterType="map">
		insert into t_sim_account_tmp (account_id,
			day_assets,
			week_assets,
			month_assets,
			year_assets,
			nearly_week_assets,
			nearly_month_assets
		) values (#{account_id},#{init_balance},#{init_balance},#{init_balance},#{init_balance},#{init_balance},#{init_balance})
	</insert>
	
	<insert id="addAccountIndicator" parameterType="map">
		insert into t_sim_account_indicator (account_id) values (#{account_id})
	</insert>
	
	<insert id="addAccountEarn" parameterType="map">
		insert into t_sim_account_earn (account_id) values (#{account_id})
	</insert>
</mapper>